<div class="body">
    <div class="container">
        <div class="cont">
            <a
                routerLink="/listingPage"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="new_products"
            >
                <p>New products</p>
                <img src="/fire.png" alt="">
            </a>
            <a
                routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <img class="click_shop" width="170px" src="/click_shop_logo.png" alt="index.html">
            </a>
            <ul class="head_ul">
                <li><a
                    routerLink="/listingPage"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><img width="30px" src="/Search.png" alt="">
                  </a>
                </li>
                <li>
                    <a
                    routerLink="/login"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><img width="30px" src="/User.png" alt="">
                  </a>
                </li>
                <li>
                    <a
                    routerLink="/bag"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><div class="yel_circ"><img class="bag" width="34px" src="/bag.png" alt=""></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

        <div class="container">
            <img class="get_off" src="/Frame 11.png" alt="">
            <div class="life_style">
                <div>
                    <p class="life_text">Catalog</p>
                    <p class="items">{{items_number}} items</p>
                </div>
                <p class="choose">CHOOSE FILTERS YOU NEED</p>
                
            </div>
            <div class="catalog_cont">
                <div class="filters">
                    <div class="f_cont">
                        <p class="filt">Filters</p>
                    </div>    
                    <div class="refine">
                        <p>CATEGORY</p>
                    </div>
                    <ul class="type">
                        <li><input id="butt" class="ch0 emp" type="checkbox"><label>Casual shoes</label></li>
                        <li><input type="checkbox" id="butt" class="ch1 emp"><label>Runners</label></li>
                        <li><input type="checkbox" id="butt" class="ch2 emp"><label>Hiking</label></li>
                        <li><input type="checkbox" id="butt" class="ch3 emp"><label>Sneaker</label></li>
                        <li><input type="checkbox" id="butt" class="ch4 emp"><label>Basketball</label></li>
                        <li><input type="checkbox" id="butt" class="ch5 emp"><label>Golf</label></li>
                        <li><input type="checkbox" id="butt" class="ch6 emp"><label>Outdoor</label></li>
                    </ul>
                    <div class="refine">
                        <p>PRICE</p>
                    </div>
                    <ul class="type">
                        <li><input type="number" id="buts" class="ch7 emp"><label>From</label></li>
                        <li><input type="number" id="buts" class="ch8 emp"><label>To</label></li>
                    </ul>
                    <ul class="type">
                        <div class="price_cont">
                            <button>Sort by price</button>
                            <button>Sort by price</button>
                        </div>
                        <button>Sort by rating</button>
                        <button>Sort by date</button>
                    </ul>
                </div>
                <div >
                    <div class="catalog" *ngIf="items.length != 0">
                        <div class="card" *ngFor="let el of items" >
                            <img class="item_img" src="{{el.img_url}}" alt="">
                            <p>{{el.name}}</p>
                            <p>Rating: {{el.rating}}</p>
                            <a
                                routerLink="/itemPage"
                                routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }"
                            >
                                <div (click)="getId(el.id)" class="but_cont"><img src="/Button (2).png" class="but_cont" alt=""><span class="price">{{el.price}}$</span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="foot_cont">
                <div class="purp_cont">  
                    <div class="purp_text">
                        <p class="text1">Join our KicksPlus Club & get 15% off</p>
                        <p class="text2">Sign up for free! Join the community.</p>
                        <div class="input_cont">
                            <input type="text" placeholder="Email address" >
                            <button><img src="/style_layer.png" alt=""></button>
                        </div>
                    </div>
                    <a href=""><img src="/Group 1.png" alt=""></a>
                </div>
                <div class="grey_cont">
                    <div class="lit_cont">
                        <div>
                            <p class="oran_text">About us</p>
                            <p class="grey_text">We are the biggest hyperstore in the universe. We got you all cover with our exclusive collections and latest drops.</p>
                        </div>
                        <div class="lit_cont2">
                            <div>
                                <p class="or_text">Categories</p>
                                <ul class="gr_text">
                                    <a class="a" href="/listing_page.html"><li>Runners</li></a>
                                    <a class="a" href="/listing_page.html"><li>Sneakers</li></a>
                                    <a class="a" href="/listing_page.html"><li>Basketball</li></a>
                                    <a class="a" href="/listing_page.html"><li>Outdoor</li></a>
                                    <a class="a" href="/listing_page.html"><li>Golf</li></a>
                                    <a class="a" href="/listing_page.html"><li>Hiking</li></a>
                                </ul>
                            </div>
                            <div>
                                <p class="or_text">Company</p>
                                <ul class="gr_text">
                                    <a class="a" href=""><li>About</li></a>
                                    <a class="a" href=""><li>Contact</li></a>
                                    <a class="a" href=""><li>Blogs</li></a>
                                </ul>
                            </div>
                            <div>
                                <p class="or_text">Follow us</p>
                                <ul class="gr_img">
                                    <a class="a" href=""><li><img src="/ic_baseline-facebook.png" alt=""></li></a>
                                    <a class="a" href=""><li><img src="/mdi_instagram.png" alt=""></li></a>
                                    <a class="a" href=""><li><img src="/mdi_twitter.png" alt=""></li></a>
                                    <a class="a" href=""><li><img src="/ic_baseline-tiktok.png" alt=""></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <img class="logo" src="/Logo (1).png" alt="">
                </div>
            </div>
        </div>
</div>