.body{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.get_off{
    margin-top: 52px;
    margin-bottom: 52px;
}

.life_style{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.life_text{
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
}

.items{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    opacity: 0.8;
}

.catalog_cont{
    display: flex;
    justify-content: space-between;
}

.filters{
    width: 315px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.catalog{
    width: 986px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.filt{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 24px;
}

.refine{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    align-items: center
}

.type{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.type input{
    width: 15px;
    height: 15px;
    border: 1px solid black;
}

.type label{
    margin-left: 16px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.choose{
    font-family: Rubik;
    font-size: 50px;
    font-weight: 450;
}

.but_cont{
    position: relative;
    width: 260px;
}

.price{
    position: absolute;
    left: 164px;
    top: 12px;
    font-size: 15px;
    color: #FFA52F;
}

.card{
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 28px;
    margin-bottom: 16px;
}

.item_img{
    width:260px;
    border-radius: 20px;
}

.money_filter{
    width: 150px;
    border: 2px solid #232321;
    border-radius: 7px;
    padding: 5px;
}

.money_filter::placeholder{
    color: #232321;
    font-weight: 600;
    font-size: 20px;
}

.price_cont{
    display: flex;
}

.sort{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 5px;
}

.sort_but{
    background-color: #232321;
    color: white;
    padding: 5px;
    margin: 3px;
    width: 155px;
    border-radius: 7px;
    text-align: center;
}

.pages_cont{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pages_cont div{
    width: 100px;
}

.child{
    margin-left: 30px;
    margin-top: 5px;
}