<div class="body">
    <div class="container">
        <div class="cont">
            <a
                routerLink="/listingPage"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="new_products"
            >
                <p>New products</p>
                <img src="/fire.png" alt="">
            </a>
            <a
                routerLink="/mainPage"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <img class="click_shop" width="170px" src="/click_shop_logo.png" alt="index.html">
            </a>
            <ul class="head_ul">
                <li><a
                    routerLink="/listingPage"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><img width="30px" src="/Search.png" alt="">
                  </a>
                </li>
                <li>
                    <a
                    routerLink="/login"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><img width="30px" src="/User.png" alt="">
                  </a>
                </li>
                <li>
                    <a
                    routerLink="/bag"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><div class="yel_circ"><img class="bag" width="34px" src="/bag.png" alt=""></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <p class="saving">Saving to celebrate </p>
        <p class="enjoy">Enjoy up to 60% off thousands of styles during the End of Year sale - while suppiles last. No code needed.</p>
        <p class="join_us"><span>Join-us</span>  or <span>Sign-in</span></p>
        <div class="bag_cont">
            <div class="your_bag">
                <p class="your_bag_text">Your Bag</p>
                <p class="items">Items in your bag not reserved- check out now to make them yours.</p>
                <div class="cart_list"></div>
            </div>
            <div class="summary">
                <p class="your_bag_text">Order Summary</p>
                <div class="item">
                    <p>Summery</p>
                    <p class="quantity"></p>
                    <p class="summary_"></p>
                </div>
                <div class="item">
                    <p>Delivery</p>
                    <p>6.99$</p>
                </div>
                <div class="item">
                    <p>Sales Tax (5%)</p>
                    <p class="tax"></p>
                </div>
                <div class="item">
                    <p class="total">Total</p>
                    <p class="total1"></p>
                </div>
                <button><img src="/checkout.png" alt=""></button>
                <p class="promo">User a promo code</p>
            </div>
        </div>

        <div class="may_like">
            <p>Come back to our store!</p>
        </div>
    </div>

    <div class="container">
        <div class="foot_cont">
            <div class="purp_cont">  
                <div class="purp_text">
                    <p class="text1">Join our KicksPlus Club & get 15% off</p>
                    <p class="text2">Sign up for free! Join the community.</p>
                    <div class="input_cont">
                        <input type="text" placeholder="Email address" >
                        <button><img src="/style_layer.png" alt=""></button>
                    </div>
                </div>
                <a href=""><img src="/img/Group 1.png" alt=""></a>
            </div>
            <div class="grey_cont">
                <div class="lit_cont">
                    <div>
                        <p class="oran_text">About us</p>
                        <p class="grey_text">We are the biggest hyperstore in the universe. We got you all cover with our exclusive collections and latest drops.</p>
                    </div>
                    <div class="lit_cont2">
                        <div>
                            <p class="or_text">Categories</p>
                            <ul class="gr_text">
                                <div *ngFor="let el of categories">
                                    <a class="a" href="/listing_page.html">
                                        <div>{{el.name}}</div>
                                    </a>
                                </div>
                            </ul>
                        </div>
                        <div>
                            <p class="or_text">Company</p>
                            <ul class="gr_text">
                                <a class="a" href=""><li>About</li></a>
                                <a class="a" href=""><li>Contact</li></a>
                                <a class="a" href=""><li>Blogs</li></a>
                            </ul>
                        </div>
                        <div>
                            <p class="or_text">Follow us</p>
                            <ul class="gr_img">
                                <a class="a" href=""><li><img src="/ic_baseline-facebook.png" alt=""></li></a>
                                <a class="a" href=""><li><img src="/mdi_instagram.png" alt=""></li></a>
                                <a class="a" href=""><li><img src="/mdi_twitter.png" alt=""></li></a>
                                <a class="a" href=""><li><img src="/ic_baseline-tiktok.png" alt=""></li></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <img class="logo" src="/Logo (1).png" alt="">
            </div>
            
        </div>
    </div>
</div>