.body{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.saving{
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 8px;
    margin-top: 32px;
}

.enjoy{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.join_us{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    opacity: 0.8;
    margin-bottom: 32px;
}

.join_us span{
    text-decoration: underline;
}

.bag_cont{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.your_bag{
    width: 820px;
    background-color: white;
    border-radius: 16px;
    padding: 24px;
}

.your_bag_text{
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 8px;

}

.items{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.8;    
}

.card{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.card_text{
    width: 502px;
    margin-left: 10px;
    margin-top: 5px;
}

.prize{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.purp{
    color: rgb(74, 105, 226);
}

.grey{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    opacity: 0.8;
    margin-top: 8px;
}

.size_quan{
    display: flex;
    margin-bottom: 12px;
}

.size_quan button{
    margin-right: 40px;
    margin-left: 24px;
    margin-top: 9px;
}

.like{
    display: flex;
    margin-top: 48px;
}

.like img{
    margin-right: 24px;
}

.summary{
    width: 418px;
    margin-top: 24px;
}

.item{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.item p{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;    
}

.total{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;    
}

.summary img{
    margin-bottom: 24px;
    margin-top: 24px;
}

.promo{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-decoration: underline;
}

.foot_cont{
    position: relative;
    margin-top: 32px;
}

.purp_cont{
    display: flex;
    width: 1320px;
    height: 545px;
    border-radius: 48px;
    background: var(--Blue, #4A69E2);
}

.purp_text{
    margin-left: 72px;
    margin-top: 64px;
}

.purp_cont a{
    margin-left: 203px;
    margin-top: 144px;
}

.text1{
    color: var(--White, #FFF);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    width: 510px;
}

.text2{
    color: var(--Gray, #E7E7E3);
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
}

.input_cont{
    display: flex;
    margin-top: 32px;
}

.input_cont input{
    margin-right: 4px;
    height: 48px;
    width: 348px;
    font-size: 16px;;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid var(--White, #FFF);
    background-color: var(--Blue, #4A69E2);
    padding-left: 16px;
}

.input_cont input::placeholder{
    opacity: 0.75;
    font-family: Inter;
    color: var(--Gray, #E7E7E3);
}

.grey_cont{
    position: absolute;
    width: 1320px;
    top: 340px;
    z-index: 3;
    height: 591px;
    border-radius: 48px;
    background: var(--Dark-Gray, #232321);
    padding: 40px 40px 0 40px;
}

.lit_cont{
    display: flex;
    justify-content: space-between;
}

.grey_text{
    width: 446px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    color: var(--Gray, #E7E7E3);
    line-height: 27px;
}

.oran_text{
    color: var(--Yellow, #FFA52F);
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 4px;
}

.lit_cont2{
    display: flex;
    justify-content: space-between;
    width: 664px;
}

.or_text{
    color: var(--Yellow, #FFA52F);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.gr_text{
    display: flex;
    flex-direction: column;
    color: var(--Gray, #E7E7E3);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    gap: 8px;
    line-height: 27px;
}

.gr_img{
    display: flex;
    gap: 24px;
}

.logo{
   position: absolute;
   bottom: 0;
   left: 29px;
}

.a{
    color: #FFF;
}
