<div class="body">
    <div class="container">
        <div class="cont">
            <a
                routerLink="/listingPage"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="new_products"
            >
                <p>New products</p>
                <img src="/fire.png" alt="">
            </a>
            <a
                routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <img class="click_shop" width="170px" src="/click_shop_logo.png" alt="index.html">
            </a>
            <ul class="head_ul">
                <li><a
                    routerLink="/listingPage"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><img width="30px" src="/Search.png" alt="">
                  </a>
                </li>
                <li>
                    <a
                    routerLink="/login"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><img width="30px" src="/User.png" alt="">
                  </a>
                </li>
                <li>
                    <a
                    routerLink="/bag"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><div class="yel_circ"><img class="bag" width="34px" src="/bag.png" alt=""></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="container">
        <h2>SHOP<br> <span>NOW</span></h2>
        <div class="pict_cont">
            <img src="/Frame 10.png" alt="">
            <a class="shop_now shop_now_but" routerLink="/listingPage"><img src="/Button.png" alt=""></a>
        </div>
        <div class="drops_cont">
            <div class="drops_text">DON’T MISS OUT NEW DROPS</div>
            <a class="shop_now_but" routerLink="/listingPage"><img src="/Button (1).png" alt=""></a>
        </div>
    </div>


    <div class="black_cont">
        <p class="categ">CATEGORIES</p>
        <swiper-container *ngIf="showSwiper && categories.length > 0" 
            slides-per-view="2" 
            space-between="20"
            navigation="true" 
            pagination="true"
            autoplay-delay="3000">
            <swiper-slide *ngFor="let el of categories">
                <div class="category_slide">
                    <img src="NOPHOTO.png" alt="#">
                    <a class="a" routerLink="/listingPage" (click)="sendCategory(el.id)">
                        {{el.name}}
                    </a>
                </div>
            </swiper-slide>
        </swiper-container>
    
        <div *ngIf="!showSwiper || categories.length === 0" class="loading_swiper">
            Загрузка категорий...
        </div>
    </div>
    

    <div class="container">
        <div class="foot_cont">
            <div class="purp_cont">  
                <div class="purp_text">
                    <p class="text1">Join our KicksPlus Club & get 15% off</p>
                    <p class="text2">Sign up for free! Join the community.</p>
                    <div class="input_cont">
                        <input type="text" placeholder="Email address" >
                        <div><img src="/style_layer.png" alt=""></div>
                    </div>
                </div>
                <a href="#"><img src="/Group 1.png" alt=""></a>
            </div>
            <div class="grey_cont">
                <div class="lit_cont">
                    <div>
                        <p class="oran_text">About us</p>
                        <p class="grey_text">We are the biggest hyperstore in the universe. We got you all cover with our exclusive collections and latest drops.</p>
                    </div>
                    <div class="lit_cont2">
                        <div>
                            <p class="or_text">Categories</p>
                            <ul class="gr_text">
                                <div *ngFor="let el of categories">
                                    <a class="a" routerLink="/listingPage" (click)="sendCategory(el.id)">
                                        <div>{{el.name}}</div>
                                    </a>
                                </div>
                            </ul>
                        </div>
                        <div>
                            <p class="or_text">Company</p>
                            <ul class="gr_text">
                                <a class="a" href="#"><li>About</li></a>
                                <a class="a" href="#"><li>Contact</li></a>
                                <a class="a" href="#"><li>Blogs</li></a>
                            </ul>
                        </div>
                        <div>
                            <p class="or_text">Follow us</p>
                            <ul class="gr_img">
                                <a class="a" href="#"><li><img src="/ic_baseline-facebook.png" alt=""></li></a>
                                <a class="a" href="#"><li><img src="/mdi_instagram.png" alt=""></li></a>
                                <a class="a" href="#"><li><img src="/mdi_twitter.png" alt=""></li></a>
                                <a class="a" href="#"><li><img src="/ic_baseline-tiktok.png" alt=""></li></a>
                            </ul>
                        </div>
                    </div>
                </div>
                <img class="logo" src="/Logo (1).png" alt="">
            </div>
        </div>
    </div>
</div>

            

