<div class="body">
    <div class="container">
        <div class="cont">
            <a
                routerLink="/listingPage"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="new_products"
            >
                <p>New products</p>
                <img src="/fire.png" alt="">
            </a>
            <a
                routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <img class="click_shop" width="170px" src="/click_shop_logo.png" alt="index.html">
            </a>
            <ul class="head_ul">
                <li><a
                    routerLink="/listingPage"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><img width="30px" src="/Search.png" alt="">
                  </a>
                </li>
                <li>
                    <a
                    routerLink="/login"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><img width="30px" src="/User.png" alt="">
                  </a>
                </li>
                <li>
                    <a
                    routerLink="/bag"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><div class="yel_circ"><img class="bag" width="34px" src="/bag.png" alt=""></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="container">
        <div class="product_cont">
            <div class="release_cont">
                <p class="adidas">{{item.name}}</p>
                <p class="blue_text">{{item.price}}$</p>
                <div class="size_cont">
                    <p>Rating: {{item.rating}}</p>
                    <div class="stars_cont">
                        <img *ngIf="item.rating > 0" class="size_chart" src="/star.png" alt="">
                        <img *ngIf="item.rating > 1" class="size_chart" src="/star.png" alt="">
                        <img *ngIf="item.rating > 2" class="size_chart" src="/star.png" alt="">
                        <img *ngIf="item.rating > 3" class="size_chart" src="/star.png" alt="">
                        <img *ngIf="item.rating > 4" class="size_chart" src="/star.png" alt="">
                    </div> 
                </div>
                <div class="cart_cont">
                    <button class='add_to_cart1'><img src="/style_layer (2).png" alt=""></button>
                    <button><img src="/style_layer (3).png" alt=""></button>
                </div>
                <div (click)="postItem()" class="buy"><img src="/Button (18).png" alt=""></div>  
                <p class="size_cont">Stock: {{item.stock}}</p>
                <div class="count_cont">
                    <div class="count">Count:</div>
                    <input [(ngModel)]="count" class="count_input" type="number">
                </div>
                <p class="product">ABOUT THE PRODUCT</p>
                <p class="color">{{item.info}}</p>
                <img src="{{item.img_url}}" alt="">
            </div>
        </div>
        <div class="comments">
            <p>Comments: </p>
            <div *ngFor="let el of comments">
                <div>
                    {{el.message}}
                </div>
            </div>
        </div>
    </div>

        <div class="container">
            <div class="foot_cont">
                <div class="purp_cont">  
                    <div class="purp_text">
                        <p class="text1">Join our KicksPlus Club & get 15% off</p>
                        <p class="text2">Sign up for free! Join the community.</p>
                        <div class="input_cont">
                            <input type="text" placeholder="Email address" >
                            <button><img src="/style_layer.png" alt=""></button>
                        </div>
                    </div>
                    <a href=""><img src="/Group 1.png" alt=""></a>
                </div>
                <div class="grey_cont">
                    <div class="lit_cont">
                        <div>
                            <p class="oran_text">About us</p>
                            <p class="grey_text">We are the biggest hyperstore in the universe. We got you all cover with our exclusive collections and latest drops.</p>
                        </div>
                        <div class="lit_cont2">
                            <div>
                                <p class="or_text">Categories</p>
                                <ul class="gr_text">
                                    <div *ngFor="let el of categories">
                                        <a class="a" href="/listing_page.html">
                                            <div>{{el.name}}</div>
                                        </a>
                                    </div>
                                </ul>
                            </div>
                            <div>
                                <p class="or_text">Company</p>
                                <ul class="gr_text">
                                    <a class="a" href=""><li>About</li></a>
                                    <a class="a" href=""><li>Contact</li></a>
                                    <a class="a" href=""><li>Blogs</li></a>
                                </ul>
                            </div>
                            <div>
                                <p class="or_text">Follow us</p>
                                <ul class="gr_img">
                                    <a class="a" href=""><li><img src="/ic_baseline-facebook.png" alt=""></li></a>
                                    <a class="a" href=""><li><img src="/mdi_instagram.png" alt=""></li></a>
                                    <a class="a" href=""><li><img src="/mdi_twitter.png" alt=""></li></a>
                                    <a class="a" href=""><li><img src="/ic_baseline-tiktok.png" alt=""></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <img class="logo" src="/Logo (1).png" alt="">
                </div>
            </div>
        </div>
</div>