<div class="body">
    <div class="container">
        <div class="cont">
            <ul class="head_ul1">
                <li><a
                    routerLink="/listingPage"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><img src="/NewDrops.png" alt="">
                  </a>
                </li>
                <li><a class="head_a" href="">
                    <p>Men</p> 
                </a></li>
                <li><a class="head_a" href="">
                    <p>Women</p>
                </a></li>
            </ul>
            <a href=""><img src="/Group.png" alt="index.html"></a>
            <ul class="head_ul2">
                <li><a
                    routerLink="/listingPage"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><button><img src="/Search.png" alt=""></button>
                  </a>
                </li>
                <li>
                    <a
                    routerLink="/login"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><button><img src="/User.png" alt=""></button>
                  </a>
                </li>
                <li>
                    <a
                    routerLink="/bag"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    ><div class="yel_circ"><img src="/bagpic.png" alt=""></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="product_cont">
            <div class="pict_cont">
                <div class="pict1">
                    <img class="img1" src="/s-l500 (1).jpg" alt="">
                    <img src="/s-l1600 (1).jpg" alt="">
                </div>
                <div class="pict2">
                    <img class="img1" src="/s-l1600 (2).jpg" alt="">
                    <img src="/s-l1600 (3).jpg" alt="">
                </div>
            </div>
            <div class="release_cont">
                <p class="adidas">{{item.name}}</p>
                <p class="blue_text">${{item.price}}</p>
                <p class="color">{{item.info}}</p>
                <div class="colors_cont">
                    <div class="Ellipse1"></div>
                </div>
                <div class="size_cont">
                    <p>SIZE</p>
                    <img class="size_chart" src="/Button (8).png" alt="">
                </div>
                <div class="first_line">
                    <button  id="but" class="white bg1 ">38</button>
                    <button id="but" class="grey_b bg2">39</button>
                    <button  id="but" class="white bg3">40</button>
                    <button  id="but" class="white bg4">41</button>
                    <button  id="but" class="white bg5">42</button>
                    <button  id="but" class="white bg6">43</button>
                    <button  id="but" class="white bg7">44</button>
                    <button  id="but" class="white bg8">45</button>
                    <button  id="but" class="white bg9">46</button>
                    <button  id="but" class="white bg10">47</button>
                    <p class="red_text none">Choose your size</p>
                </div>
                <div class="cart_cont">
                    <button class='add_to_cart1'><img src="/style_layer (2).png" alt=""></button>
                    <button><img src="/style_layer (3).png" alt=""></button>
                </div>
                <button class="buy"><img src="/Button (18).png" alt=""></button>  
                <p class="product">ABOUT THE PRODUCT</p>
                <img src="{{item.img_url}}" alt="">
            </div>
        </div>
            <div class="may_like">
                <p>You may also like</p>
            </div>
            <ul class="train_list">
                
            </ul>
        </div>

        <div class="container">
            <div class="foot_cont">
                <div class="purp_cont">  
                    <div class="purp_text">
                        <p class="text1">Join our KicksPlus Club & get 15% off</p>
                        <p class="text2">Sign up for free! Join the community.</p>
                        <div class="input_cont">
                            <input type="text" placeholder="Email address" >
                            <button><img src="/style_layer.png" alt=""></button>
                        </div>
                    </div>
                    <a href=""><img src="/Group 1.png" alt=""></a>
                </div>
                <div class="grey_cont">
                    <div class="lit_cont">
                        <div>
                            <p class="oran_text">About us</p>
                            <p class="grey_text">We are the biggest hyperstore in the universe. We got you all cover with our exclusive collections and latest drops.</p>
                        </div>
                        <div class="lit_cont2">
                            <div>
                                <p class="or_text">Categories</p>
                                <ul class="gr_text">
                                    <a class="a" href="/listing_page.html"><li>Runners</li></a>
                                    <a class="a" href="/listing_page.html"><li>Sneakers</li></a>
                                    <a class="a" href="/listing_page.html"><li>Basketball</li></a>
                                    <a class="a" href="/listing_page.html"><li>Outdoor</li></a>
                                    <a class="a" href="/listing_page.html"><li>Golf</li></a>
                                    <a class="a" href="/listing_page.html"><li>Hiking</li></a>
                                </ul>
                            </div>
                            <div>
                                <p class="or_text">Company</p>
                                <ul class="gr_text">
                                    <a class="a" href=""><li>About</li></a>
                                    <a class="a" href=""><li>Contact</li></a>
                                    <a class="a" href=""><li>Blogs</li></a>
                                </ul>
                            </div>
                            <div>
                                <p class="or_text">Follow us</p>
                                <ul class="gr_img">
                                    <a class="a" href=""><li><img src="/ic_baseline-facebook.png" alt=""></li></a>
                                    <a class="a" href=""><li><img src="/mdi_instagram.png" alt=""></li></a>
                                    <a class="a" href=""><li><img src="/mdi_twitter.png" alt=""></li></a>
                                    <a class="a" href=""><li><img src="/ic_baseline-tiktok.png" alt=""></li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <img class="logo" src="/Logo (1).png" alt="">
                </div>
            </div>
        </div>
</div>