*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

body {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	
}

main {
	flex: 1 1 auto;
}

body,
html {
	height: 100%;
}

input::-ms-clear {
	display: none;
}

button {
	background-color: transparent;
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,body{
	font-family: Rubik;
}

.body{
    margin: 0 auto;
    padding-top: 32px;

    color: var(--Dark-Gray, #232321);
    background: var(--Gray, #E7E7E3);
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
}

.cont{
    display: flex;
    width: 1320px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background: #FAFAFA;
}

.click_shop{
    border-radius: 10px;
	margin-left: 100px;
	border: 2px solid black;
}

.new_products{
	display: flex;
	gap: 7px;
	align-items: center;
	color: var(--Dark-Gray, #232321);
	font-weight: 600;
	font-size: 22px;
	padding: 5px;
}

.head_ul{
    display: flex;
    width: 301px;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}


.head_ul{
    display: flex;
    width: 301px;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.yel_circ{

    align-items: center;
    border-radius: 32px;
    background: var(--Yellow, #FFA52F);
	padding: 5px;
}

.bag{
	padding-right: 0px;
}





.foot_cont{
    position: relative;
    margin-top: 32px;
}

.purp_cont{
    display: flex;
    width: 1320px;
    height: 545px;
    border-radius: 48px;
    background: var(--Blue, #4A69E2);
    margin-bottom: 386px;
}

.purp_text{
    margin-left: 72px;
    margin-top: 64px;
}

.purp_cont a{
    margin-left: 203px;
    margin-top: 144px;
}

.text1{
    color: var(--White, #FFF);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    width: 510px;
}

.text2{
    color: var(--Gray, #E7E7E3);
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
}

.input_cont{
    display: flex;
    margin-top: 32px;
}

.input_cont input{
    margin-right: 4px;
    height: 48px;
    width: 348px;
    font-size: 16px;;
    font-weight: 400;
    border-radius: 8px;
    border: 1px solid var(--White, #FFF);
    background-color: var(--Blue, #4A69E2);
    padding-left: 16px;
}

.input_cont input::placeholder{
    opacity: 0.75;
    font-family: Inter;
    color: var(--Gray, #E7E7E3);
}

.grey_cont{
    position: absolute;
    width: 1320px;
    top: 340px;
    z-index: 3;
    height: 591px;
    border-radius: 48px;
    background: var(--Dark-Gray, #232321);
    padding: 40px 40px 0 40px;
}

.lit_cont{
    display: flex;
    justify-content: space-between;
}

.grey_text{
    width: 446px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    color: var(--Gray, #E7E7E3);
    line-height: 27px;
}

.oran_text{
    color: var(--Yellow, #FFA52F);
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 4px;
}

.lit_cont2{
    display: flex;
    justify-content: space-between;
    width: 664px;
}

.or_text{
    color: var(--Yellow, #FFA52F);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.gr_text{
    display: flex;
    flex-direction: column;
    color: var(--Gray, #E7E7E3);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    gap: 8px;
    line-height: 27px;
}

.gr_img{
    display: flex;
    gap: 24px;
}

.logo{
	position: absolute;
	bottom: 0;
	left: 29px;
}
 
.a{
	color: #FFF;
}
 